# Database (ضروری برای Prisma)
DATABASE_URL=postgresql://postgres:test@localhost:5432/barchasb

# Postgres config
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=test
POSTGRES_DATABASE=barchasb
PRISMA_ENGINES_MIRROR=https://prisma-builds.s3-eu-west-1.amazonaws.com
# Server
PORT=5000
NODE_ENV=development
# NODE_ENV=production

# Frontend
FRONTEND_URL=http://localhost:3000
# کلید توکن JWT برای احراز هویت
JWT_SECRET=sdf6s4df6gs48df6g5d1fg6h8df4g8yr9et76s5df465sdf14g684er8tsd5dfg465sd4f6g84sdf9g84s6d516s5df4g65sd4f9g84sdf8g4
#JWT_SECRETـADMIN=Yv8!9d#Lq2@tFzP7xR4&kW1$eH3^bMnQ

# for test and question data loader
# if it's first time for db set it true
ENABLE_DATA_SEEDING=false

# ===== متغیرهای Liara Object Storage =====

# Endpoint باکت
LIARA_ENDPOINT=https://storage.c2.liara.site

# نام باکت
LIARA_BUCKET_NAME=barchasb-data

# کلید دسترسی
LIARA_ACCESS_KEY=hbhovq2eehfn4c3a

# کلید سری
LIARA_SECRET_KEY=9a451478-f69c-4038-b1d1-d6ef87d76f44


PAYAMAK_USERNAME=9100546429
PAYAMAK_PASSWORD=28bf9
PAYAMAK_FROM=50002710066429
PAYAMAK_OTP_BODY_ID=411438

email=info@barchasb.org
LIARA_EMAIL_USER=trusting_wing_nqhmk6
LIARA_EMAIL_PASS=ecc9aa13-6e0e-454f-a97f-52a15a1dd965
LIARA_EMAIL_HOST=smtp.c1.liara.email
LIARA_EMAIL_PORT=587
# اختیاری: برای انتخاب بین دو bodyId
SMS_TEMPLATE_OTP=455829
SMS_TEMPLATE_ACTIVATE=411438

NODE_ENV=production
REDIS_URL_LOCAL=redis://127.0.0.1:6379
REDIS_URL_PROD=redis://:7fjIsc7MzftjkHiI4kn5Z2sO@barchasb-redis:6379/0

# payment gateway
# calback url
# APP_URL=https://barchasb.org
APP_URL=http://localhost:5000

# front url for redirect
RESULT_PAYMENT_FRONTEND_URL=http://localhost:3000/dashboard/payment-result