# آدرس اتصال به MongoDB
MONGO_URL=
POSTGRES_USERNAME=
POSTGRES_DATABASE=
POSTGRES_PASSWORD=

# for test and question data loader
# if it's first time for db set it true
ENABLE_DATA_SEEDING=false

# پورت سرور Node.js (بک‌اند)
PORT=

# کلید توکن JWT برای احراز هویت
JWT_SECRET=
JWT_SECRET_ADMIN=

# آدرس فرانت‌اند
FRONTEND_URL=

# متغیرهای Liara Object Storage

# Endpoint باکت
LIARA_ENDPOINT=

# نام باکت
LIARA_BUCKET_NAME=

# کلید دسترسی
LIARA_ACCESS_KEY=

# کلید سری
LIARA_SECRET_KEY=


PAYAMAK_USERNAME=
PAYAMAK_PASSWORD=
PAYAMAK_FROM=
PAYAMAK_OTP_BODY_ID=

email=
LIARA_EMAIL_USER=
LIARA_EMAIL_PASS=
LIARA_EMAIL_HOST=
LIARA_EMAIL_PORT=

# اختیاری: برای انتخاب بین دو bodyId
SMS_TEMPLATE_OTP=
SMS_TEMPLATE_ACTIVATE=

NODE_ENV=
REDIS_URL_LOCAL=