# Database (ضروری برای Prisma)
DATABASE_URL=postgresql://postgres:test@localhost:5432/barchasb

# Postgres config
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=test
POSTGRES_DATABASE=barchasb
PRISMA_ENGINES_MIRROR=https://prisma-builds.s3-eu-west-1.amazonaws.com
# Server
PORT=5000

# Frontend
FRONTEND_URL=http://localhost:3000
# کلید توکن JWT برای احراز هویت
JWT_SECRET=
JWT_SECRET_ADMIN=

# ===== متغیرهای Liara Object Storage =====

# Endpoint باکت
LIARA_ENDPOINT=https://storage.c2.liara.site

# نام باکت
LIARA_BUCKET_NAME=barchasb-data

# کلید دسترسی
LIARA_ACCESS_KEY=hbhovq2eehfn4c3a

# کلید سری
LIARA_SECRET_KEY=9a451478-f69c-4038-b1d1-d6ef87d76f44


PAYAMAK_USERNAME=9100546429
PAYAMAK_PASSWORD=28bf9
PAYAMAK_FROM=50002710066429
PAYAMAK_OTP_BODY_ID=411438

email=info@barchasb.org
LIARA_EMAIL_USER=trusting_wing_nqhmk6
LIARA_EMAIL_PASS=ecc9aa13-6e0e-454f-a97f-52a15a1dd965
LIARA_EMAIL_HOST=smtp.c1.liara.email
LIARA_EMAIL_PORT=587
# اختیاری: برای انتخاب بین دو bodyId
SMS_TEMPLATE_OTP=455829
SMS_TEMPLATE_ACTIVATE=411438

NODE_ENV=production
REDIS_URL_LOCAL=redis://127.0.0.1:6379
REDIS_URL_PROD=redis://:7fjIsc7MzftjkHiI4kn5Z2sO@barchasb-redis:6379/0

